# DigiLab Backend Environment Variables

# Security
SECRET_KEY=CHANGE_ME_LOCAL_SECRET_KEY
FRONTEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Database
DATABASE_URL=sqlite:///./database.db

# Octave Microservice (Do not change unless deploying your own)
OCTAVE_SERVICE_URL=https://virtual-lab-1-75ey.onrender.com/execute_code
OCTAVE_SERVICE_SECRET=my-secure-test-secret
OCTAVE_SERVICE_TIMEOUT=15
